<h1>お笑い芸人依頼サービス</h1>
<%= link_to "マイページ", 'mypage/show' %>
<p>日常に（お）笑いを</p>
<%= link_to "芸人ログイン", new_user_session_path %>
<br>
<%= link_to "芸人新規登録", new_user_registration_path %>
<br><br>
<%= link_to "ユーザーログイン", new_user_session_path %>
<br>
<%= link_to "ユーザー新規登録", new_user_registration_path %>

