<% provide(:title, "#{@user.name}｜編集") %>

<h2>編集画面 <% resource_name.to_s.humanize %></h2>

<div class="gravatar_edit">
      <%= gravatar_for @user %><br><br>
      <a href="https://gravatar.com/emails" target="_blank">change</a>
    </div>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

    <% if @user.isTalent%>
      <div class="box">
        <%= f.label "一般公開する" %>
        <%= f.check_box :public, {class: 'checkbox'}, true,false %>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

    <div class="field">
      <%= f.label :address%><br />
      <%= f.select :address, [["東京", "tokyo"], ["大阪","osaka"]],class: "col-md-3 col-md-offset-3", class: 'form-control'%>
    </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "変更",class: "button edit" %>
  </div>
<% end %>

<h4>アカウントを削除する</h4>

<p>unhappy？ <%= button_to "アカウントを削除する", registration_path(resource_name), data: { confirm: "本当によろしいですか？" }, method: :delete %></p>

<%= link_to "戻る", :back %>
