<%= provide(:title,"新規登録") %>
<h2>新規登録画面</h2>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="gravatar_edit">
      <%= gravatar_for @user %><br><br>
      <a href="https://gravatar.com/emails" target="_blank">change</a>
    </div>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :name %><br />
        <%= f.text_field :name, placeholder: "名前を入力してください", class: 'form-control' %>
      </div>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレスを入力してください", class: 'form-control' %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %>文字以上)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", placeholder: "パスワードを入力してください", class: 'form-control'%>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "パスワードを入力してください", class: 'form-control'%>
      </div>

      <div class="field">
        <%= f.label :address%><br />
        <%= f.select :address, [["東京", "tokyo"], ["大阪","osaka"]],class: "col-md-3 col-md-offset-3", class: 'form-control'%>
      </div>

      <%= f.hidden_field :isTalent, :value => @talent_signup%>
      <%= hidden_field_tag :followed_user, @followed_user%>

      <% if @talent_signup%>
        <div class="box">
          <%= f.label "一般公開する（いつでも変更できます）" %>
          <%= f.check_box :isPublic, {class: 'checkbox'}, true,false %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Sign up",class: "button" %>
      </div>
    <% end %>
  </div>
</div>
<%= render "devise/shared/links" %>
<%= render "static_pages/guest_login" %>