<% @user = user %>
<% show = show %>
<% @schedules = Schedule.where(user_id: @user.id) %>

<header class="talentCard_header">
  <h2 class="talentCard_name"><%= link_to user.name, mypage_path(user) %></h2>
</header>
<div class="talentCard_content">
  <div class="talentCard_profile">
    <div class="talentCard_sub">
      <%= link_to gravatar_for(user,size: 100),mypage_path(user) %>
      <div class="talentCard_followLink">
        <%= render partial: 'users/follow_form', locals: { user: @user} %>
      </div>
    </div>
    <ul>
      <li>芸歴：<%= user.talent_profile.history%></li>
      <li>所属事務所：<%= user.talent_profile.belongs%></li>
      <li>活動拠点：<%= user.address%></li>
    </ul>
  </div>
</div>

<% if show %>
  <%= render 'mypage/dm_form' %>
  <div id="<%=@user.id%>_calender">
    <%= render partial: 'users/month_calender', locals: { schedules: @schedules} %> 
  </div>
<% else %>
  <%= render partial: 'users/two_weeks_calender', locals: {schedules: @schedules} %>
<% end %>

<div class=<%= talentCard_character %>>
  <h5 class="talentCard_title">【芸風】</h5>
  <strong><%= safe_join(user.talent_profile.character.split("\n"),tag(:br)) %></strong>
</div>
<div class=<%= talentCard_freeWrite %>>
  <h5 class="talentCard_title">【自己紹介文】</h5>
  <strong><%= safe_join(user.talent_profile.free_write.split("\n"),tag(:br)) %></strong>
</div>