<h1>芸人一覧</h1>
<p>お気に入りを見つけるべし</p>

<% @users.each do |user| %>
  <li>
    <%= link_to gravatar_for(user),mypage_path(user) %>
    <%= link_to user.name, mypage_path(user) %>
    <%= user.talent_profile.history%>
    <%= user.talent_profile.belongs%>
  </li>
<% end %>
<%= paginate @users%>