<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
        <p class="modal-title"><%= @inDate %></p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <%= form_for(@schedule, remote: true) do |form| %>
      <%= form.hidden_field :start_time, :value => "#{@inDate} 00:00:00" %>
      <%= form.hidden_field :inDate, :value => @inDate%>
      <%= render partial: "radio_form", locals: { form: form} %>
    <% end %>
  </div>
</div>