<h2 class="rooms-title">ダイレクトメッセージ</h2>
<h2><%= link_to opponent_user(@room).name, mypage_path(opponent_user(@room)) %></h2>
<div class="left-button">
  <%= link_to "DM一覧へ", rooms_path(current_user),class:"edit-link" %>
</div>
<hr>
<div class="chats">

  <div class="chat">
    <% if @messages.present? %>
      <% @messages.each do |m| %>

        <% if m.user_id == current_user.id %>
          <div class="current_user">
            <small class="current_user">[<%= m.user.name %>さん</small>
            <small class="current_user"><%= m.created_at.strftime("%Y-%m-%d %H:%M")%>]</small><br>
            <strong class="current_user"><%= safe_join(m.body.split("\n"),tag(:br)) %></strong>
          </div>
        <% else %>
          <div class="visited_user">
            <small class="visited_user">[<%= m.user.name %>さん</small>
            <small class="visited_user"><%= m.created_at.strftime("%Y-%m-%d %H:%M")%>]</small><br>
            <strong class="visited_user"><%= m.body %></strong>
          </div>
        <% end %>

      <% end %>
    <% end %>
  </div>

  <div class="posts">
    <%= form_with(model: @message, local: true) do |f| %>
      <%= f.text_area :body, placeholder: "メッセージを入力して下さい" , class:'form-control post' %>
        <%= f.hidden_field :room_id, value: @room.id %>
          <%= f.submit "投稿",class: 'form-submit'%>
    <% end %>
  </div>
</div>