<%= gravatar_for @user%>
<h1><%= @user_name %></h1>
<% if @user == current_user%>
  <%= link_to "アカウント情報編集", edit_user_registration_path %>
<% end %>
<%= @user.isTalent if Rails.env.development? %>

<% if @user.isTalent %>

<% if @user == current_user%>
  <%= link_to "プロフィール編集", edit_talent_profile_path %>
<% end %>
<p>芸人でごわす</p>

  <% if current_user && !current_user.isTalent %>
    <div id="follow_form">
      <% if current_user.following?(@user) %>
        <%= form_with(model: current_user.relationships.find_by(followed_id: @user.id),
                      html: { method: :delete }, local: true) do |f| %>
          <%= f.submit "Unfollow", class: "btn" %>
        <% end %>
      <% else %>
        <%= form_with(model: current_user.relationships.build, local: true) do |f| %>
          <div><%= hidden_field_tag :followed_id, @user.id %></div>
          <%= f.submit "Follow", class: "btn btn-primary" %>
        <% end %>
      <% end %>
    </div>
  <% end %>
  
  <% unless user_signed_in? %>
   <%= button_to "Follow", new_user_registration_path, class: "btn btn-primary",
                  method: 'get', params: {followed_user: @user} %>
  <% end %>
  

<%= @user.talent_profile.history%>
<%= @user.talent_profile.belongs%>
<br>
<%= @user.talent_profile.character%>
<%= @user.talent_profile.free_write%>
<p>以上</p>

<% else %>
<p>一般の人です</p>
  <% if @users.any? %>
    <% @users.each do |user| %>
      <li>
        <%= link_to gravatar_for(user),mypage_path(user) %>
        <%= link_to user.talent_profile.name, mypage_path(user) %>
      </li>
    <% end %>
  <% end %>
  <%= paginate @users%>
<% end %>
