<% provide(:title, @user.name) %>
<% talentCard_character = "talentCard_characterShow" %>
<% talentCard_freeWrite = "talentCard_freeWriteShow" %>

<% if @user == current_user %>
  <%= link_to "アカウント情報編集", edit_user_registration_path %>
  <%= link_to "DM一覧ページ", rooms_path %>
  <%= link_to "Calender", new_schedule_path %>
<% end %>
<%= @user.isTalent if Rails.env.development? %>

<% if @user.isTalent %>
  <% if @user == current_user%>
  <% if @user.isPublic %>
    <h3><%= link_to "一般公開中", edit_user_registration_path %></h3>
  <% end %>
  <% unless @user.isPublic %>
    <h3><%= link_to "現在非公開", edit_user_registration_path %></h3>
  <% end %>
    <%= link_to "プロフィール編集", edit_talent_profile_path %>
  <% end %>
  <% if user_signed_in?%>
    <% if current_user.admin?%>
        <%= link_to "プロフィール編集", edit_talent_profile_path %>
    <%end%>
  <%end%> 
  <p>芸人でごわす</p>
  <%= render partial: "users/profile", locals: { user: @user, show: 'show',
              talentCard_character: talentCard_character, talentCard_freeWrite: talentCard_freeWrite } %>
  <p class="profileEnd">以上</p>
  <%= render 'dm_form' %>


<% else %>
<p>一般の人です</p>
  <% if @users.any? %>
    <% @users.each do |user| %>
      <li>
        <%= link_to gravatar_for(user),mypage_path(user) %>
        <%= link_to user.name, mypage_path(user) %>
      </li>
    <% end %>
  <% end %>
  <%= paginate @users%>
<% end %>

