<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container"> 
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button> 
      <%= link_to "お笑い依頼", root_path, id: "logo" %>
    </div>
    <nav>
      <ul id="navbar" class="nav navbar-nav navbar-right navbar-collapse collapse">
        <li><a href="" data-toggle="modal", data-target="#aboutApp">アプリ概要</a></li>
        <li><%= link_to "芸人一覧へ", users_path %></li>
        <% if user_signed_in?%>
          <li><%= link_to "マイページ", mypage_path(current_user) %></li></li>
          <li><%= link_to "アカウント情報編集", edit_user_registration_path %></li>
          <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "ログイン", new_user_session_path %></li>
          <li><%= link_to "新規登録", new_user_registration_path %></li>
          <li><%= link_to "芸人の方はこちら", new_user_registration_path(talent: true)%></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>